<% layout('layouts/boilerplate') %>
<h1>all study spots</h1>
<div>
    <a href="/spots/new">Add spot</a>
</div>
<ul>
    <% for( let studySpot of studySpots ) { %>
        <li><a href="/spots/<%= studySpot._id %>">
                <%= studySpot.title %>
            </a></li>
        <% } %>
<<<<<<< Updated upstream
</ul>
=======
    </ul>
</body>
</html>
>>>>>>> Stashed changes
