<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Study Spot</title>
</head>
<body>
    <form action="/spots" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="studySpot[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="studySpot[location]">
        </div>
        <button>Add Study Spot</button>
    </form>
</body>
</html>