<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Spot</h1>
    <div class="col-6 offset-3">
        <form action="/spots" method="POST">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="studySpot[title]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="studySpot[location]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" id="image" name="studySpot[image]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="studySpot[description]"></textarea>
            </div>
            <button type="submit" class="btn btn-success mt-3 mb-3">Add Study Spot</button>
        </form>
        <a class="mt-3" href="/spots">All spots</a>
    </div>

    