<% layout('layouts/boilerplate') %>
<h1><%= studySpot.title %></h1>
<h2><%= studySpot.location %></h2>
<p><form action="/spots/<%= studySpot._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form></p>
<footer>
    <p><a href="/spots/<%= studySpot._id %>/edit">Edit</a></p>
    <a href="/spots">All spots</a>
</footer>